@media(max-width: 1000px) {

    h1.titulo-section {
        font-size: 3rem;
    }

    /* menu */
    .header {
        background-image: none;
        background-color: var(--corAmarela);
    }

    .menu-desktop {
        display: none;
    }


    /* menu mobile */

    .btn-menu-mobile {
        display: block;
    }

    /* heho */

    section.hero {
        background-image: linear-gradient(to top, var(--corPreta) 90%, var(--corAmarela) 10%);
    }

    .hero>.container {
        text-align: center;
        gap: 75px;
        flex-direction: column-reverse;
    }

    .hero .txt-hero h1 {
        font-weight: 300;
    }

    .hero .txt-hero h1 span {
        font-size: 3rem;
    }

    .hero .txt-hero p {
        font-size: 1rem;
    }

    .hero .img-hero {
        max-width: 320px;
    }


    /* Sobre Mim */

    section.sobre-mim {
        padding: 80px 0;
    }

    .sobre-mim>.container {

        flex-direction: column;
        gap: 64px;
    }

    .sobre-mim .img-sobre img {
        max-width: 360px;
    }



    /* habilidades */
    .skills article {
        grid-template: repeat(7, 1fr) / 1fr;
    }

    .skills h1 {
        font-size: 2.4rem;
    }




    /* portifolio */

    .portfolio .portfolio-container {
        display: grid;
        grid-template: repeat(4, 1fr) / 1fr;
        gap: 24px;
    }

    .portfolio-container .portfolio_box {
        min-width: 300px;
        margin: 0 auto;
    }


    /* formulario */
    .contato>.container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .contato form {
        width: 100%;
    }

    .contato form .tel-proj {
        display: block;
    }

    .contato form textarea {
        resize: none;
        height: 150px;
    }

    .contato form .btn-enviar input {
        border-color: var(--corBranca);
        transition: .5s;
        cursor: pointer;
        font-weight: 400;
        font-size: 1.2rem;
    }

    .contato form .btn-enviar input:hover {
        background-color: var(--corBranca);
        color: var(--corAmarela);
        border-color: var(--corBranca);
    }


    /*  */
    footer>.container {
        flex-direction: column-reverse;
        gap: 32px;
        text-align: center;
    }

}