*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root{
    --corCinza: #57595D;
    --corPreta: #000000;
    --corBranca: #FFFFFF;
    --corAmarela: #FBCA2D;
    --corAzul: #17043b;
    --corAzulEscuro: #090117;
    
}

body{
    background-color: var(--corPreta);
}

button{
    background-color: transparent;
    border: 3px solid var(--corAmarela);
    border-radius: 8px;
    color: var(--corBranca);
    cursor: pointer;
    font-size: 1.1.rem;
    transition: .5s;
}

h1.titulo-section{
    font-size: 4rem;
    color: var(--corBranca)
}

h1.titulo-section span{
    color: var(--corAmarela)
}

button:hover{
    background-color: var(--corBranca);
    color: var(--corAmarela);
}

.container{
    max-width: 1380px;
    padding: 0 4%;
    margin: 0 auto;
}

/* cabecalho */
header{
    background-color: transparent;
    /* background-image: linear-gradient(to top, var(--corBranca) 20%, var(--corCinza)); */
    padding: 16px 0;
    position: fixed;
    width: 100%;
}

header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero .img-hero{
    line-height: 0;
}

header .logo img{
    max-width: 200px;
}

header nav.menu-desktop ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 56px;
}

header nav.menu-desktop a{
    color: var(--corBranca);
    text-decoration: none;
    font-size: 1.1rem;
    transition: .5s;
}

header nav.menu-desktop a:hover{
    color: var(--corAmarela);
}

header nav.menu-desktop button{
    width: 144px;
    height: 48px;
}
/* hero */

section.hero{
    background-image: linear-gradient(to left, var(--corPreta) 70%, var(--corAmarela) 30%);
    padding-top: 144px;
}

.hero > .container{
    display: flex;
    align-items: center;
    gap: 220px;
}

.hero .txt-hero h1{
    font-size: 3rem;
    color: var(--corBranca);
    font-weight: 300;
}

.hero .txt-hero h1 span{
    color: var(--corAmarela);
    display: block;
    font-weight: 700;
    font-size: 4rem;
}

.hero .txt-hero p{
    color: var(--corBranca);
    line-height: 1.6;
    font-size: 1.2rem;
    margin: 24px 0;
}

.hero .txt-hero button{
    width: 200px;
    height: 52px;
}

/* Sobre Mim */

section.sobre-mim{
    padding: 80px 0;
}

.sobre-mim > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 96px;
}

.sobre-mim .txt-sobre p{
    color: var(--corBranca);
    text-align: justify;
    line-height: 1.6;
    margin: 24px 0;
}

.sobre-mim .btn-redes button{
    width: 56px;
    height: 56px;
    font-size: 24px;
    margin-right: 10px;
}

/* habilidades */

section.skills{
    padding: 80px 0;
    background-color: var(--corAmarela);
}

.skills article{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 18px;
   margin: 24px 0;
}

.skills .box-skills{
    background-color: var(--corAzulEscuro);
     padding: 24px;
     border-radius: 16px;
     color: var(--corBranca);

}    

.box-skills .icon-skills{
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 16px;
}

.box-skills .icon-skills img{
    max-width: 80px;
}

.icon-skills h2{
    color: var(--corBranca);
}

.icon-skills h2 span{
    color: var(--corAmarela);
}

.box-skills p{
    color: var(--corCinza);
    text-align: justify;
    line-height: 1.6;
}

/* button */
.box-skills .icon-skills button{
    width: 56px;
    height: 56px;
    font-size: 32px;
}

.skills .btn_contato{
    text-align: center;
}

.skills .btn_contato button{
    width: 200px;
    height: 58px;
    border: 4px solid var(--corAzulEscuro) !important;
}